<div class="row">
  <h2 class="accent-font text-center">This is <%= @user.first_name %>'s page</h2>
  <h4 class="text-center">Member of <%= link_to @user.organizations.first.name, organization_path(@user.organizations.first.token) %></h4>
  <div class="row">
  </div>  
</div>