<div class="row">
  <h2 class="accent-font text-center"><%= @organization.name %></h2>
  <div class="row">
    <div class="col col-xs-12 col-md-6 text-center">
      <%= link_to 'Edit', edit_organization_path(@organization), class: 'accent-background btn' %>    
    </div>
    <div class="col col-xs-12 col-md-6 text-center">
      <%= link_to 'Delete', organization_path(@organization), method: 'delete', class: 'accent-background btn' %>
    </div>
  </div>
  <div class="margin30"></div>
  <div class="col col-xs-12 col-md-8 col-md-offset-2">
    <table class="table table-condensed table-responsive">
      <thead class="accent-background">
        <th>Name</th>
        <th>Status</th>
        <th></th>
      </thead>
      <tbody class="table-hover">
        <tr></tr>
      </tbody>
    </table>
  </div>
  <div class="clear:both"></div>
  <%= link_to 'Edit', edit_organization_path(@organization), class: "btn" %>
</div>